// Colors
$white: #F4F5FE
$black: #0F2027
$highlight: #00CDAC
$muted-gray: #282828
$dark-bg: linear-gradient(to top, #2C5364, #203A43, #0F2027)

$menu-bg: #0c0c0c
$menu-color: #ffffff
$menu-font-size: 2.5rem
$menu-zindex: 1100
$hamburger-color: #fff
$hamburger-width: 50px
$hamburger-height: 50px
$hamburger-zindex: $menu-zindex + 10
